#
####### example-requirements.txt #######
#
###### Requirements without Version Specifiers ######

cycler>=0.9.0
freetype-py
OWSLib>=0.8.7
pillow>=1.7.8
Cython>=0.15.1
numpy>=1.6
pyshp>=1.1.4
six>=1.3.0
setuptools>=0.7.2
matplotlib==1.4.0
scipy>=0.10
cartopy
pandas
-f https://downloads.sourceforge.net/project/matplotlib/matplotlib-toolkits/basemap-1.0.7/basemap-1.0.7.tar.gz
pvl
requests
sphinxcontrib-napoleon

